*{
  margin: 0;
  transition: 0.2s;
}

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  overflow-x: hidden;
  background-color: rgb(80, 80, 213);
}

html{
  scroll-behavior: smooth;
}


@media  screen and (max-width: 768px) {
  body{
      overflow-x: hidden;
  }
}
